@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #F2F2F2;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    @include reset-list();
}

button {
    cursor: pointer;
}

a {
    height: fit-content;
    text-decoration: none;
    color: currentColor;

    &:hover {
        text-decoration: underline currentColor;
    }
}

.container {
    padding: 12px;


    @media (min-width: 750px) {
        padding: 20px;
    }
    @media (min-width: 1440px) {
        max-width: 1140px;
        margin: auto;
    }
}